* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue-heading1 {
    background-color: #211d52;
    color: rgba(255, 255, 255, 0.744);
    width: 100%;
    height: 8vh;
    margin: auto;
    font-size: clamp(0.625rem, -0.227rem + 4.26vw, 1rem);
    font-weight: bolder;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
}

.blue-heading:hover {
    color: white;
}

.logo-heading2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.893);
    width: 100%;
    height: 20vh;

}

.links-heading3 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.41);


    display: flex;
    justify-content: center;
    align-items: center;

}

.links-heading3 ul {

    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: clamp(0.563rem, 0.264rem + 1.54vw, 1.25rem);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    gap: 20px;

}

.header-links {

    color: rgb(57, 55, 55);
}

.header-links:hover {
    color: black;
}

/* MAIN  */
.image-div {
    width: 100%;
    height: 100vh;
    background-image: url("https://thebombaycanteen.com/cdn/shop/files/TBC_BANNER_-_WEB.jpg?v=1735804818&width=1080");
    background-repeat: no-repeat !important;
    /* force no repeat */
    background-size: cover !important;
    /* scale image to fill */
    background-position: center center;
    /* center it */


}

.information-div {
    margin: 10vh 10vh;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;

}

.information h1 {
    font-weight: 900;
    font-size: clamp(1.25rem, 0.436rem + 4.2vw, 3.125rem);
}

.information p {
    font-size: clamp(1.188rem, 0.998rem + 0.98vw, 1.625rem);
    text-shadow: -1px 0px 20px #00000052;
    ;
}

.image2-div {
    width: 100%;
    height: 800px;
    background-color: #211d52;
    display: flex;
    flex-wrap: wrap;


}


.bg-image2 {
    background-image: url(https://thebombaycanteen.com/cdn/shop/files/Screenshot_2024-08-01_103337.jpg?v=1722488635&width=840);
    right: 0;
    width: clamp(20rem, 100vw, 100rem);

    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}

.information2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.749);
    text-align: center;
}

.information2 h1:hover {
    color: rgb(255, 255, 255);
}

.information2 p:hover {
    color: rgb(255, 255, 255);
}

.information2 h1 {
    font-weight: 900;
    font-size: clamp(1.563rem, 0.402rem + 5.8vw, 5.625rem);
}

.poster {
    background-image: url(https://thebombaycanteen.com/cdn/shop/files/Group_shot_1.jpg?v=1734331314&width=1860);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: clamp(18.75rem, 8.942rem + 64.85vw, 90rem);
    box-sizing: border-box;
    overflow: hidden;

}

.information3 {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.information3 h1 {
    font-weight: 800;
    font-size: clamp(1.875rem, 1.314rem + 3.71vw, 5.625rem);
}

.container-info-map {
    margin: 30px auto;
    padding: 0px 20px;
}

.embedded-map {
    margin-top: 30px;
}


/* FOOOTER */



.footer {
    background-color: rgb(126, 66, 254);
    width: 100%;
    height: 500px;
    font-family: sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;


    /* LISTS DIV  */
    .lists {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .lists h4 {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }

    .lists ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }


    .links-li {
        color: rgb(0, 0, 0);
        text-decoration-line: none;
        list-style: none;
    }

    /* EMAILS DIV  */

    .emails {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .emails-input {
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 10px;
        width: 30vh;
    }

    .emails-input::placeholder {
        color: rgba(255, 255, 255, 0.563);
        border: none;

    }

    /* /* SOCIALs  */

    .socials h4 {

        font-size: large;
        font-weight: 700;

        margin-bottom: 5px;
    }